body {
  background-color:white;
}
#enterbar {
  text-align: center;
  font-family: Arial;
  font-size: 30px;
  color: black;
  padding: auto;
  position: fixed;
  left: 50%;
  margin-left: -161px;
  margin-top: 10px;
}
#runbutton {
  border-radius: 8px;
  font-family: Arial;
  text-align: center;
  color: #c0c0c0;
  font-weight: bold;
  font-size: 20px;
  width: 200px;
  height: 75px;
  margin: 25px auto 25px auto;
  display: block;
}
